<!--文件列表容器-->
<main id="acgRankList" class="document_list_container" v-cloak="" style="display: none">
    <!--增加一个用于遮罩层的容器-->
    <div class="loadMask">
        <!--文件列表头部-->
        <div class="list_header_container">
            <div class="file_list_set">
                <span class="file_id">排名</span>
                <span class="file_name">片名</span>
                <span class="file_author">作者</span>
                <span class="file_category">类型</span>
                <span class="file_episode">集数</span>
                <span class="file_country">所属国家</span>
                <span class="file_completed">是否完结</span>
                <span class="file_enable">是否有资源</span>
                <span class="file_memo">附加信息</span>
                <span class="file_operType">操作</span>
            </div>
        </div>

        <!--文件列表主体-->
        <div class="list_body_container" v-cloak="">
            <div class="file_list_set" v-for="acg in rankList">
                <span class="file_id" v-text="acg.id"></span>
                <span class="file_name"><span v-text="acg.acgName"></span></span>
                <span class="file_author" v-text="(acg.acgAuthor!=''&amp;acg.acgAuthor!=null)?acg.acgAuthor:'未知'"></span>
                <span class="file_category" v-text="(acg.acgCategory!=''&amp;acg.acgAuthor!=null)?acg.acgCategory:'未知'"></span>
                <span class="file_episode" v-text="(acg.episode!=0&amp;acg.acgAuthor!=null)?acg.episode:'未知'"></span>
                <span class="file_country" v-text="(acg.country!=''&amp;acg.acgAuthor!=null)?acg.country:'未知'"></span>
                <span class="file_completed" v-text="(acg.completed!=''&amp;acg.acgAuthor!=null)?acg.completed:'未知'"></span>
                <span class="file_enable" v-text="(acg.watchAble!=''&amp;acg.acgAuthor!=null)?acg.watchAble:'未知'"></span>
                <span class="file_memo" v-text="(acg.memo!=''&amp;acg.acgAuthor!=null)?acg.memo:'无'"></span>
                <span class="file_operType" v-html="(operType)"></span>
            </div>
        </div>

        <!--信息提示-->
        <div class="fileMessage"></div>
    </div>
</main>
