<link rel="stylesheet" type="text/css" th:href="@{/css/footerHelp.css}"/>
<div class="footer_container">
    <div class="help_info">
        <ul>
            <li>制作人：帝歌恋雪</li>
            <li>制作时间：2017年9月11日~至今</li>
            <li>使用工具：IntelliJ IDEA、Spring Boot、HTML、CSS、JavaScript、thymeleaf。</li>
        </ul>
    </div>
    <div class="share_link">
        <ul >
            <li>联系作者</li>
            <li>意见反馈</li>
            <li>友情链接</li>
            <li>官方微博</li>
            <li>官方公众号</li>
        </ul>
    </div>
</div>
