<!--遮罩层容器-->
<script type="text/javascript" th:src="@{js/game/gameOption.js}"></script>
<div id="gameOption" class="cover_container" style="display: none" v-cloak="">
    <!--弹框容器：可以用一个通用类edit_box_container用于统一设置弹框样式，再增加一个类用于对某种具体弹框的样式进行微调-->
    <main class="edit_box_container">
        <!--弹框头部title：同理可以增加一个统一设置弹框样式的通用类，再用另一个类对某种具体弹框的样式进行微调-->
        <p class="edit_box_title">
            <span>游戏设置</span>
            <img src="" alt="" />
            <span class="customize_close" ><img th:src="@{img/customizeClose.png}"/></span>
        </p>
        <!--弹框主体部分：同理可增加-->
        <div class="edit_box_body">
            <!--每个p包含一组可编辑的信息框-->
            <p class="edit_info_group">
                <span>棋盘大小</span>
                <span><input type="number" id="lengthEdit" v-model="length"/></span>
            </p>
            <p class="edit_info_group">
                <span>棋盘规模</span>
                <span><input type="number" id="sizeEdit" v-model="size"/></span>
            </p>
            <p class="edit_info_group">
                <span>游戏模式</span>
                <span><select id="gameTypeEdit" v-model="gameType">
                    <option v-for="item in typeList" v-bind:value="item.value">{{item.txt}}</option></select>
                </span>
            </p>
            <p class="edit_info_group">
                <span>先手方</span>
                <span><select id="firstPlayerEid" v-model="firstPlayer">
                    <option v-for="item in playerList" v-bind:value="item.value">{{item.txt}}</option></select>
                </span>
            </p>
        </div>
        <!--弹框头部title：同理可以增加一个统一设置弹框样式的通用类，再用另一个类对某种具体弹框的样式进行微调-->
        <p class="edit_box_button">
            <button class="blueButton confirm">确定</button>
            <button class="grayButton cancer">取消</button>
        </p>
    </main>
</div>
